# .gitignore

# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Test output
.coverage
nosetests.xml
pytest.xml
test_*.xml
